---
import '@/styles/global.css';
import Page from '@/components/Page';
import { ClientRouter } from 'astro:transitions';

const defaultSidebarOpen = Astro.cookies.get('sidebar:state')?.value === 'true';

interface Props {
	title: string;
	className?: string;
}

const { title, className = '' } = Astro.props;
const { APPNAME: appName } = import.meta.env;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title} - {appName}</title>

		<ClientRouter />
	</head>
	<body>
		<Page appName={appName} client:only='react' defaultSidebarOpen={defaultSidebarOpen} url={Astro.url} className={className}>
			<slot />
		</Page>
	</body>
</html>

<style lang='scss'>
	body {
		display: flex;
		flex-direction: row;
	}
</style>
